<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Global Stocks</h1></div>
    <div class="panel-body">
      <div class="well well-sm">
        <table class="table-striped table-bordered">
          <th align="text-center"></th>
          <th align="text-center">Name</th>
          <th align="text-center">Symbol</th>
          <th align="text-center">Exchange</th>
          <th align="text-center">Current EPS</th>
          <th align="text-center">Dividends Per Share</th>
          <th align="text-center">Day High Price</th>
          <th align="text-center">Day Low Price</th>
          <% @stocks.each do |stock| %>
            <div>
              <tr class="row">
                <td><%= stock.name %></td>
                <td><%= stock.symbol %></td>
                <td><%= stock.index %></td>
                <td><%= stock.currentEPS %></td>
                <td><%= stock.dividends_per_share %></td>
                <td><%= stock.day_high_price %></td>
                <td><%= stock.day_low_price %></td>
              </tr>
            </div>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

