<div class="container stocks-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Global Stocks</h1>
    </div>
    <div class="panel-body">
      <div class="well well-sm">
        <table class="table-striped table-bordered all-stocks-table">
          <th align="text-center"></th>
          <th align="text-center"><%= sortable "name" %></th>
          <th align="text-center"><%= sortable "yahoo_data.market_cap", "Market Cap" %></th>
          <th align="text-center"><%= sortable "yahoo_data.last_trade_price", "Last Trade Price" %></th>
          <th align="text-center"><%= sortable "yahoo_data.book_value", "Book Value" %></th>
          <th align="text-center"><%= sortable "yahoo_data.price_to_book_ratio", "Price/Book" %></th>
          <th align="text-center"><%= sortable "yahoo_data.price_to_earnings_ratio", "P/E" %></th>
          <th align="text-center"><%= sortable "yahoo_data.dividends_per_share", "Dividend" %></th>
          <th align="text-center"><%= sortable "yahoo_data.dividend_yield", "Dividend Yield (%)" %></th>
          <th align="text-center"><%= sortable "yahoo_data.current_eps", "EPS" %></th>
          <th align="text-center"><%= sortable "yahoo_data.day_high_price", "Day High" %></th>
          <th align="text-center"><%= sortable "yahoo_data.day_low_price", "Day Low" %></th>
          <th align="text-center"><%= sortable "yahoo_data.year_low_price", "Year Low" %></th>
          <th align="text-center"><%= sortable "yahoo_data.year_high_price", "Year High" %></th>
          <th align="text-center"><%= sortable "market_watch_data.average_recommendation", "MarketWatch Recommendation" %></th>
          <th align="text-center">EBITDA</th>
          <th align="text-center">1Y Target</th>
          <th align="text-center">50-day Moving Average</th>
          <th align="text-center">% Change from 50-day Moving Average</th>
          <th align="text-center">200-day Moving Average</th>
          <th align="text-center">% Change from 200-day Moving Average</th>
          <% @stocks.each do |stock| %>
            <div>
              <tr class="row some-stock">
                <td class="stock-name">
                  <a href="<%= stock.google_finance_link %>" target="_blank"> <%= stock.name %> </a> (<%= stock.symbol %>) <i><%=stock.exchange %></i>
                </td>
                <td class="market-cap"><%= (stock.yahoo_data.market_cap) unless !stock.yahoo_data.market_cap %></td>
                <td class="last-trade-price"><%= (stock.yahoo_data.last_trade_price).round(2) unless !stock.yahoo_data.last_trade_price %></td>
                <td class="book-value"><%= (stock.yahoo_data.book_value).round(2) unless !stock.yahoo_data.book_value %></td>
                <td class="price-to-book-ratio"><%= (stock.yahoo_data.price_to_book_ratio).round(2) unless !stock.yahoo_data.price_to_book_ratio %></td>
                <td class="price-to-earnings-ratio"><%= (stock.yahoo_data.price_to_earnings_ratio).round(2) unless !stock.yahoo_data.price_to_earnings_ratio %></td>
                <td class="dividends-amount"><%= (stock.yahoo_data.dividends_per_share).round(2) unless !stock.yahoo_data.dividends_per_share %></td>
                <td class="dividend-yield"><%= (stock.yahoo_data.dividend_yield).round(2) unless !stock.yahoo_data.dividend_yield %></td>
                <td class="current-eps"><%= (stock.yahoo_data.current_eps).round(2) unless !stock.yahoo_data.current_eps %></td>
                <td class="day-high-price"><%= (stock.yahoo_data.day_high_price).round(2) unless !stock.yahoo_data.day_high_price %></td>
                <td class="day-low-price"><%= (stock.yahoo_data.day_low_price).round(2) unless !stock.yahoo_data.day_low_price %></td>
                <td class="year-low-price"><%= (stock.yahoo_data.year_low_price).round(2) unless !stock.yahoo_data.year_low_price %></td>
                <td class="year-high-price"><%= (stock.yahoo_data.year_high_price).round(2) unless !stock.yahoo_data.year_high_price %></td>
                <td><a href="<%= "http://www.marketwatch.com/investing/stock/#{stock.symbol}/analystestimates" %>" target="_blank"><%= (stock.market_watch_recommendation) %></a></td>
                <td class="ebitda"><%= (stock.yahoo_data.ebitda) unless !stock.yahoo_data.ebitda %></td>
                <td class="one-year-target-price"><%= (stock.yahoo_data.one_year_target_price).round(2) unless !stock.yahoo_data.one_year_target_price %></td>
                <td class="fifty-day-moving-average"><%= (stock.yahoo_data.fifty_day_moving_average).round(2) unless !stock.yahoo_data.fifty_day_moving_average %></td>
                <td class="percent-change-from-fifty-day-moving-average"><%= (stock.yahoo_data.percent_change_from_fifty_day_moving_average).round(2) unless !stock.yahoo_data.percent_change_from_fifty_day_moving_average %></td>
                <td class="two-hundred-day-moving-average"><%= (stock.yahoo_data.two_hundred_day_moving_average).round(2) unless !stock.yahoo_data.two_hundred_day_moving_average %></td>
                <td class="percent-change-from-two-hundred-day-moving-average"><%= (stock.yahoo_data.percent_change_from_two_hundred_day_moving_average).round(2) unless !stock.yahoo_data.percent_change_from_two_hundred_day_moving_average %></td>
              </tr>
            </div>
          <% end %>
        </table>
        <%= will_paginate @stocks %>
      </div>
    </div>
  </div>
</div>

